{% extends "base.html" %}
{% block content %}
<div class="wrapper frow">
    {% include "dashnav.html"  %}
    <div class="wrapper">
        <table class="about-table">
            <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Admin</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.is_admin }}</td>
            <td>
            <form action="users/delete/{{user.id}}" mehod="post">
                <input id="btn_delete_u" type="submit" class="table-btn"  type="submit" value="❌">
            </form>
            </td>
            {% if not user.is_admin %}
            <td>
            <form action="users/promote/{{user.id}}" mehod="post">
                <input id="btn_promote_u" type="submit" class="table-btn"  type="submit" value="⬆️">
            </form>
            </td>
            {% else %}
            <td>
            <form action="users/demote/{{user.id}}" mehod="post">
                <input id="btn_promote_u" type="submit" class="table-btn"  type="submit" value="⬇️">
            </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="wrapper">
        <div class="err">
            {{ failed }}
        </div>
        <form name="registration" id="register" onsubmit="return registration();" action="/register" method="POST">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" value="" autocomplete="off" required>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" value="" autocomplete="off" required>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" value="" autocomplete="off" required>
            <label for="c_password">Confirm Password:</label>
            <input id="c_password" type="password" name="password_confirm" value="" autocomplete="off" required>
            <input id="btn_register" class="btn" onclick="this.value='Processing..';this.form.submit(); return true;" type="submit" value="Register">
        </form>
        </div>
        <script src="/js/validator_registration.js"></script>
    </div>
{% endblock content %}
